@media only screen and (max-width: 1500px){
    nav{
        width: auto;
    }
    .navleft button{
        width: 175px;
    }
    .container-image-left .container-image-one, .container-image-right .container-image:first-of-type,.container-image-left .container-image-two{
        width: 360px;
        height: 360px;
        top:110px;
        min-height: 0px;
       
    }
    .container-image-right .container-image:first-of-type{
        top:20px;
       
    }
    /* .padding-std {
        padding: 0px 130px;
    }
} */

    .padding-std{
        padding: 0px 50px;
    }
    footer{
        height: 7.5em;
    }

    .headFooter h1 {
        font-size: 25px;
    }
    .navright h2{
        font-size: 35px;
        padding-top: 9px;
    }
    .links{
        font-size: 22px;
    }

    #google{
        width: 95px;
        height: auto;
    }
    #appStore{
        width: 95px;
        height: auto;
    }
    .circles-bg{
        display: flex;
        justify-content: right;
        position: absolute;
        left: 50%;
    }
    .circles-bg1{
        width: 15%;
        height: 95px;   
        margin-right: 1%;           
      }
      .circles-bg2{
        width: 15%;
        height: 95px;
   
      }
      .footerLeft h2{
        font-size: 1.4em;
      }
      .container-one .icon{
        margin-left: 27%;
      }
}


@media only screen and (max-width: 1120px){
    header .container-secondary .container-three{
        display: none;
    }
    header .container-two{
        width: 56%;
    }
    .container-circle{
        right: -30px;
        width: 200px;
    }
}
@media only screen and (max-width: 1000px){
    .container-image-right .container-flecha{
        left: 0px;
    }

    .navright h2{
        font-size: 25px;
        padding-top: 21px;
    }
    .links p{
        font-size: 15px;
    }
    .navleft button{
        width: 125px;
        font-size: 13px;
    }
    
    .container-image-left{
        flex-direction: column;
    }
    .container-image-left .container-text, .container-image-right .container-text{
        width: 100%;
    }
    .container-image-left .container-text .container-two, .container-image-right .container-text .container-two{
        margin: auto;
    }
    .container-image-left .container-text h1, .container-image-right .container-text h1{
        text-align: center;

    }
    .padding-std{
        padding: 0px 50px;
    }
    footer{
        height: 5.5em;
    }

    .headFooter h1 {
        font-size: 14px;
    }

    #google{
        width: 65px;
        height: auto;
    }
    #appStore{
        width: 75px;
        height: auto;
    }
    .circles-bg{
        display: flex;
        justify-content: right;
        position: absolute;
        left: 50%;
    }
    .circles-bg1{
        width: 15%;
        height: 65px;   
        margin-right: 1%;           
      }
      .circles-bg2{
        width: 15%;
        height: 65px;
   
      }
      .footerLeft h2{
        font-size: 1.4em;
      }
      section article.container-two{
          flex-direction: column;
          justify-content: center;
          
      }
      section article.container-two div{
       width: 80%;
       max-width: none;
       margin:auto;
        }
        header{
            margin-bottom: 0px;
        }
        section .container-two{
            margin-top: 70px;
        }
        section .container-one{
            display: none;
        }
        .image-icon-mobile{
            display: block;
            margin:auto
        }
        section .container-two h3{
            text-align: center;
        }
        .container-image-left{
            flex-direction: column;
        }
        .container-image-right{
            flex-direction: column-reverse;
        }
        .container-image-left .container-text, .container-image-right .container-text{
            width: 80%;
          
        }
        .container-image-left .container-text .container-two, .container-image-right .container-text .container-two{
            margin: auto;
        }
        .container-image-left .container-image-one, .container-image-right .container-image:first-of-type, .container-image-left .container-image-two{
            margin: auto;
            width: 67%;
            margin-top: 40px;
            position: initial;
        }
        .container-image-left .container-flecha, .container-image-right .container-flecha{
            top: 550px;
            right: 0px
        }
}


@media only screen and (max-width: 768px){
    .navright h2{
        font-size: 20px;
        padding-top: 28px;
    }
    .links p{
        font-size: 12px;
    }
    .navleft button{
        width: 95px;
        font-size: 9px;
    }

    footer{
        height: 4em;
    }
    .headFooter h1 {
        font-size: 12px;
    }

    .circles-bg1{
        height: 22px;            
    }
      .circles-bg2{
        width: 15%;
        height: 22px;   
      }
      .container-circle{
          display: none;
      }
      header .container-two {
        width: 76%;
    }
    .container-image-left .container-image-one, .container-image-right .container-image:first-of-type, .container-image-left .container-image-two{
        width: 100%;
    }
    .container-image-left .container-flecha, .container-image-right .container-flecha{
        top: 620px;
    }
    .container-image-left .container-flecha, .container-image-right .container-flecha{
        top: 720px;
    }
    header .container-title{
        position: initial;
        width: 70%;
        left: 0px;
        margin: auto;

    }
    header .container-two{
        margin-top: -290px;
    }

    
}


@media only screen and (max-width: 426px){
    .container-image-left .container-flecha, .container-image-right .container-flecha {
        top: 880px;
    }
    .container-image-left .container-flecha, .container-image-right .container-flecha{
        top: 880px;
    }
    .navright h2{
        font-size: 13px;
        padding-top: 40px;
        padding-right: 3px;
    }
    .links p{
        font-size: 9px;
        padding: 2px;
    }
    .navleft button{
        width: 65px;
        font-size: 8px;
    }
    #google{
        width: 55px;
        height: auto;
    }
    #appStore{
        width: 65px;
        height: auto;
    }
    
    .footerLeft h2{
        font-size: 8px;
    }
    .footerLeft h5{
        font-size: 6px;
    }
    .footerRight img{
        width: 10px;
        height: auto;
    }
    footer{
        height: 4em;
    }
    .headFooter h1 {
        font-size: 10px;
    }

   
}